<div class="form_container">
	<div class="new_user">
		<h1 class="form_header">Please fill in the following details to get your FREE Trackly account.</h1>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:validate => true) do |f| %>
		  <%= devise_error_messages! %>

		  <div>
			<%= f.label 'Name', :class => 'placeholder' %><br/>
			<%= f.text_field :fullname, :size => '50', :placeholder => 'John Doe' %>
		  </div>

		  <div>
			<%= f.label 'Email', :class => 'placeholder' %><br/>
			<%= f.email_field :email, :size => '50', :placeholder => 'johndoe@gmail.com'  %>
		  </div>

		  <div>
			<%= f.label 'Password', :class => 'placeholder' %><br/>
			<%= f.password_field :password, :size => '50', :placeholder => 'password'  %>
		  </div>

		  <div>
			<%= f.submit "Create My Account", :class => 'button green primary big' %> 
			<span class="left-space">or</span>
			<%= link_to 'Cancel', tasks_path, :class => 'small_link' %>
		  </div>
		<% end %>

		<!-- <%= render :partial => "devise/shared/links" %> -->
	</div>
</div>


