<div id="task_<%= task.id%>" class="task">
	<!-- <span><%= link_to image_tag('trash_stroke_12x12.png'), task, confirm: 'Are you sure?',method: :delete, :class => 'delete_link' %></span> -->
	<span><%= check_box_tag task.id, task.complete, task.complete, :class => 'task_check' %></span>
	<span class="taskname"><%= link_to task.name, edit_task_path(task)%></span>
	<% task.baskets.each do |basket| %>
		<span class="basket <%= basket.css_property(basket.name) %>"><%= basket.name %></span>
	<% end %>
</div>