<div id="task_<%= task.id%>" class="task">
	<span>
		<%= check_box_tag task.id, task.complete, task.complete, :class => 'task_check', :disabled => (current_user != user) %>
	</span>
	<span class="taskname"><%= link_to_if current_user == user, task.name, edit_user_task_path(user,task)%></span>
	<% task.baskets.each do |basket| %>
		<span class="basket <%= basket.css_property(basket.name) %>"><%= basket.name %></span>
	<% end %>
</div>