<div class="status_bar">
	<span class="status"><%= link_to 'Add New Task', new_task_path %></span>
	<span class="status" id="completed_tasks"><%= pluralize(@complete_tasks.count, 'Task') %> Completed</span>
	<span class="status" id="incomplete_tasks"><%= pluralize(@incomplete_tasks.count, 'Task') %> Remaining</span>
</div>
<% @tasks_by_date.each do |date,tasks| %>
  <h4 class="task_date"><%= date %> </h4>
  <% tasks.each do |task| %>
	<%= render 'task_item', :task => task %>
  <% end %>
<% end %>


