<%= content_for(:title, "Tracely - Preview Task for #{current_user.fullname}" )%>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Complete:</b>
  <%= @task.complete %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
