<div class="admin_container">
	<div class="admin_status_div">
		<span class="status">Total Subscriptions - <%= @users.size %></span>
		<span class="status status_blue">Total Habits - <%= Habit.all.size %></span>
		<span class="status status_red">Total Tasks - <%= Task.all.size %></span>
	</div>
	<div class="user_info">
		<% @users.each do |user| %>
			<h1 class="header_text"><u><%=user.to_param %></u></h1>
			<div><b><%= user.email %></b></div>
			<div><b>Created at - </b><%= user.created_at.strftime("%b %d, %Y at %l:%M %p %Z") %></div>
			<div><b>Current Sign in - </b><%= user.current_sign_in_at.strftime("%b %d, %Y at %l:%M %p %Z") %></div>
			<div><b>Sign in count - </b><%= user.sign_in_count %></div>
			<div><b>Time Zone - </b><%= user.timezone ? user.timezone : "Central Time (US & Canada)" %></div>			
			<p class="regular_font">
				<span class="status status_blue"> Habits - <%= user.habits.size %></span>
				<span class="status status_red"> Tasks - <%= user.tasks.size %></span>
			</p>
			<div class="black_seperator"></div>
		<% end %>
	</div>
</div>

