<div class="admin_container">
	<div class="admin_status_div">
		<span class="status">Total Subscriptions - <%= @users.count %></span>
		<span class="status status_blue">Total Habits - <%= Habit.all.count %></span>
		<span class="status status_red">Total Tasks - <%= Task.all.count %></span>
	</div>
	<div class="user_info">
		<% @users.each do |user| %>
			<h1 class="header_text"><u><%= user.fullname %></u></h1>
			<div><b><%= user.email %></b></div>
			<div><b>Created at - </b><%= user.created_at.strftime("%b %d, %Y at %l:%M %p %Z") %></div>
			<div><b>Last Signed in - </b><%= user.last_sign_in_at.strftime("%b %d, %Y at %l:%M %p %Z") %></div>
			<div><b>Sign in IP - </b><%= user.last_sign_in_ip %></div>
			<p class="regular_font">
				<span class="status status_blue"> Habits - <%= user.habits.count %></span>
				<span class="status status_red"> Tasks - <%= user.tasks.count %></span>
			</p>
		<% end %>
	</div>
	
	<div class="black_seperator"></div>
</div>

