<%= content_for(:title, "Tracely - Change your password" )%>
<div class="form_container">
	<h1 class="form_header">Change your password?</h1>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div class="field"><p>Enter your New Password.</p>
	  <%= f.password_field :password, :placeholder => 'New Password', :class => 'new_user_text' %></div>

	  <div class="field"><p>Confirm your New Password.</p>
	  <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password', :class => 'new_user_text' %></div>

	  <div><%= f.submit "Change my password", :class => 'button big green' %>
		<span class="left-space">or</span>
		<%= link_to 'Cancel', new_user_session_path, :class => 'small_link' %>
	  </div>
	<% end %>

</div>
