<%= content_for(:title, "Tracely - Account Details for #{resource.fullname}" )%>
<div class="form_container">
	<div class="new_user">
		<h1 class="form_header">Edit your account details.</h1>
		<div class="seperator"></div>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><b>Full Name</b><br />
		  <%= f.text_field :fullname , :class => "new_user_text"%></div>
		
		  <div><b><%= f.label :email %></b><br />
		  <%= f.email_field :email , :class => "new_user_text"%></div>

		  <div><b><%= f.label :password %> </b><i>(*leave blank if you don't want to change it)</i><br />
		  <%= f.password_field :password, :class => "new_user_text" %></div>

		  <div><b>Confirm Password</b><br />
		  <%= f.password_field :password_confirmation, :class => "new_user_text" %></div>

		  <div><b><%= f.label :current_password %> </b><i>(*we need your current password to confirm your changes)</i><br />
		  <%= f.password_field :current_password, :class => "new_user_text" %></div>
		
		  <div>
			<b><%= f.label :timezone, :class => 'placeholder' %></b><br/>
			<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all %>
		  </div>
		
		  <div>
  		  	<p class="regular_font"><b>Receive daily reminder emails?</b></p>
  			<p class="regular_font">You can choose to receive daily email reminders regarding your tasks and habits for the day.<br/>
  				We will send you an email every morning based on your time zone which is currently set to -
  				<b><u><%= resource.timezone %></b></u></p>
  			<%= f.check_box :send_daily_email %>
  			<%= f.label :send_daily_email, "Email me my daily tasks and habits" %><br />
		  </div> 

		  <div class="seperator"></div>
		  <div><%= f.submit "Update your profile", :class => 'button big green' %>
		  <span class="left-space">or</span>
		  <%= link_to 'Cancel', root_path, :class => 'small_link' %></div>
		<% end %>

		<p class="regular_font">If you are unhappy with your account, you can cancel it anytime. <b>No questions asked.</b></p> 
			
		<%= link_to "Cancel my account", registration_path(resource_name), 
			:confirm => "Are you sure you want to cancel your account? All your data would be lost permanently.", 
			:method => :delete, :class => 'button big red'%></p>

	</div>
</div>
<%= render :partial => "common/account_hint" %>