<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @habit.title %>
</p>

<p>
  <b>User:</b>
  <%= @habit.user_id %>
</p>


<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
