<!DOCTYPE html>
<html>
<head>
  <title><%= yield_for(:title, 'Tracely - Trace your life') %></title>	
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-bar"></div>
<div class="header">
	<%= link_to image_tag("tracely_logo.png", :alt => "Tracely"), root_path %>
	<nav class="nav button-group">
		<% if user_signed_in? %>
			<p class="user_name">Welcome, <%= current_user.fullname %>
				| <span><%= link_to "Account", edit_user_registration_path %></span>
				| <span><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></span>
			</p>
			<div class="float_right">
				<% if current_user.admin? %>
					<%= link_to_if current_user.admin?, "Admin", users_path, 
						:class => "button primary big #{"active" if params[:controller] == "users"}"%>
				<% end %>

				<%= link_to "Todo List", tasks_path, 
					:class => "button primary big #{"active" if params[:controller] == "tasks"}"%>
				<%= link_to "Manage Habits", habits_path, 
					:class => "button primary big #{"active" if params[:controller] == "habits"}"%>
			</div>
			
		<% else %>
			<p class="user_name">Hi there. </p>
			<%= link_to "LOGIN", new_user_session_path, :class => "button primary big #{"active" if params[:controller] == "sessions"}" %>
			<%= link_to "REGISTER", new_user_registration_path, :class => "button primary big" %>
		<% end %>
	</nav>
</div>
<div class="content">
	<p class="alert"><%= alert %></p>
	<p id="notice"><%= notice %></p>
	<%= yield %>
	<div class="push"></div>
</div>
<div class="footer">
	<div>Copyright © 2012 Tracely. All Rights Reserved.</div>
</body>
</html>
