<!DOCTYPE html>
<html>
<head>
  <title>Hello Shubham</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header style="padding:10px;margin:0;font-size:32px;text-align:center">
	<h1 style="padding:0;margin:30px 0">Shubham Bansal</h1>
</header>
<div class="content">
	<nav class="nav">
		<%= link_to "Home"%>
		<%= link_to "Tasks", tasks_path, :class => "#{"selected" if params[:controller] == "tasks"}"%>
		<%= link_to "Folders", folders_path, :class => "#{"selected" if params[:controller] == "folders"}"%>
		<%= link_to "Weight Loss"%>
		<%= link_to "Notebook", blogs_path, :class => "#{"selected" if params[:controller] == "blogs"}"%>
	</nav>
	<%= yield %>
	<div class="push"></div>
</div>

<footer class="footer">
	Shubham Bansal, All Right Reserved 2012
</footer>

</body>
</html>
